body {
    background-color: #79cbcc;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
}

form {
    display: inline-block;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
}

h2 {
    color: black;
    font-size: 30px;
    text-align: center;
}

.options-box {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    text-align: center;
}

.options-box form {
    display: inline-block;
    text-align: left;
}

.options-box .form-group {
    margin-bottom: 15px;
}

.options-box input[type="text"],
.options-box input[type="date"] {
    width: 200px; 
    padding: 5px; 
    margin-bottom: 10px;
}

.options-box button[type="submit"] {
    margin: 0 auto;
    padding: 10px 83px;
    font-size: 1em;
    background-color: #265961;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.options-box button:hover {
    background-color: #10353B;
}

a {
    display: block; 
    margin-top: 20px; 
    margin-bottom: 10px;
    text-align: center; 
}

